.about-container {
    width: 100%;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-bottom: 5vw;
    cursor: default;
}

.about-container h2 {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.about-container span {
    font-size: 1.5vw;
    display: block;
    margin-bottom: 3vw;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-section strong {
    font-size: 1.8vw;
}

.about-section p {
    text-align: center;
    width: 30vw;
    font-size: 1.2vw;
    font-weight: lighter;
    cursor: text;
}

.about-grid-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 90vw;
    margin-top: 5vh;
    row-gap: 2vw;
    column-gap: 0;
}

.about-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.15vw solid #dddddd;
    width: 50vw;
    padding: 1vw;
    border-radius: 2vw;
    background-color: transparent;
    box-shadow: 1vw 1vw 1vw rgba(0, 0, 0, 0.1);
}

.about-card:nth-child(even) {
    flex-direction: row;
}

.about-text {
    width: 55%;
    text-align: left;
}

.about-text strong {
    font-size: 1.8vw;
    color: #333;
    display: block;
    margin-bottom: 1vw;
}

.about-text p {
    font-size: 1.3vw;
    color: #444;
}

.ab-img-container {
    width: 50%;
}

.ab-img-container img {
    width: 100%;
    height: auto;
    border-radius: 1vw;
    object-fit: cover;
}