.contact-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-left: 4vw;
}

.contact-h1 {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.51vw;
  margin-left: 3.5vw;
}

.contact-h2 {
  margin-top: 1vw;
  margin-bottom: 4.46vw;
  margin-left: 3.5vw;
  font-weight: normal;
  font-size: 1.21vw;
}

.contact-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contact-info {
  margin-right: 10vw;
}

.contact-form-inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.92vw;
}

.form-input,
.form-textarea {
  border: 1px solid #ccc;
  border-radius: 0.3vw;
  margin-left: 8vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-right: 0.5vw;
  padding-left: 1.65vw;
  font-size: 0.96vw;
  font-family: 'Arial', sans-serif;
  text-align: start;
  width: 40vw;
  height: 3.88vw;
  box-sizing: border-box;
}

.form-textarea {
  resize: none;
  height: 6vw;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #000;
  outline: none;
}

.contact-form-button {
  text-align: center;
  margin-top: 1vw;
  margin-left: 8vw;
  width: calc(4.8vw + 10px);
  height: calc(2.4vw + 5px);
  aspect-ratio: 1/1;
  font-size: 0.73vw;
  background-color: black;
  color: white;
  cursor: pointer;
  z-index: 4;
}

.contact-form {
  margin-top: 2.5vw;
}

.mensaje-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.96vw;
  border: 0.06vw solid #ccc;
  border-radius: 0.48vw;
  background-color: #f9f9f9;
  max-width: 50vw;
  margin: 0.96vw auto;
}

.mensaje-titulo {
  font-size: 2.34vw;
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.mensaje-parrafo {
  font-size: 1.32vw;
  font-weight: normal;
  white-space: pre-wrap;
  text-align: start;
  margin-bottom: 0.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  color: #333;
}