.error-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

  @keyframes rainbow-animation {
      to {
          background-position: 4500vh;
      }
  }
  .error-h1 {
    font-size: 3vw;
    font-style: italic;
    font-weight: bold;
    background-image: linear-gradient(to right, #ff0000, #ff9800, #ffd207, #ffe923,#f9fd00,#ffe923,#ffd207,#ff9800, #f44336);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 270s linear infinite;
}

  @keyframes colorCycle {
    0% {
      fill: #0000ff;
    }
    25% {
      fill: #00bcd4;
    }
    50% {
      fill: #009688;
    }
    75% {
      fill: #3f51b5;
    }
    100% {
      fill: #2196f3;
    }
  }

.container svg {
  z-index: -1;
  max-width: 39vw;
  max-height: auto;
  transform: scale(1);
  transform-origin: center;
}

.container svg circle {
  animation: colorCycle 10s infinite alternate;
}

@media (max-width: 767px) {
  .container svg {
    position: relative;
    top: 10vw;
    left: 4.7vw;
    transform: scale(1);
    transform-origin: center;
}
}