.active{
    background-color: #1d4ed8;
}
.nav-container {
    display: flex;
    align-items: center;
}

.title {
    margin: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.title img {
    position: absolute;
    width: 7vw;
    top: -1vw;
    height: auto;
}

.nav-container ul {
    display: flex;
    align-items: center;
}

.nav-container ul li {
   list-style: none; 
   font-size: 1.2vw;
   font-weight: lighter;
   margin: 0 0.5vw;
   text-align: center;
}

.nav-container ul li a {
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 0.5vw;
    padding: 0.1vw 0.4vw;
}

.nav-container ul li a:not(.active):hover {
    background-color:#172554 ;
}

.menu {
    display: none;
    position: absolute;
    top: 0.75vw;
    right: 0.5vw;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25vw;
    height: 2vw;
}

.menu span {
    height: 0.4vw;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2vw;
}


@media (max-width: 480px) {
    .menu {
        display: flex;
    }

    .nav-container {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .nav-container ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #0f172a;
        z-index: 100;
    }

    .nav-container ul.open {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .nav-container ul.open li {
        max-width: 6vw;
        text-align: center;
    }

    .nav-container ul li {
        width: 100%;
        text-align: center;
    }

    .nav-container ul li a {
        margin: 0.25vw 0;
    }
}