.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-bottom: 3vw;
}

.projects-title {
    font-size: 2.45vw;
    font-weight: bold;
}

.projects-inner{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 1vw;
    width: 100%;
}

.inner-port-component {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    row-gap: 2vw;
    column-gap: 1vw;
}

.use-buttons {
  padding: 0.6vw 2vw;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 0.6vw;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 0.8vw;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.use-buttons:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 0.6vw;
}

.use-buttons:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -0.12vw;
  left: -0.12vw;
  background-size: 400%;
  z-index: -1;
  filter: blur(0.3vw);
  -webkit-filter: blur(0.3vw);
  width: calc(100% + 0.24vw);
  height: calc(100% + 0.24vw);
  animation: rgb-button-effect 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0.6vw;
}

@keyframes rgb-button-effect {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}